.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

xcuserdata

Podfile.lock
Pods/

contents.xcworkspacedata

Crashlytics.framework/Modules/
FerryServices_2.xcodeproj/project.xcworkspace/xcshareddata/
Lib/
APIKeys.swift
FerryServices_2.xcworkspace/xcuserdata/stefanchurch.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
