<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ferries WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FerryServicesCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD753ECF197A256E00CC5DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD753EE1197A256E00CC5DE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD9CC13B1B105EF20056C6F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD8B4761B117325001C89D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD8B4801B117325001C89D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD8B49B1B117363001C89D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDD8B4A51B117363001C89D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
